<!DOCTYPE html>
<html>
    <head>
        <title>Changing the colors!</title>
    </head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         
    <style>
       
      .gre{
          color: red;
      }
      .t1{
          color: black;
          font-weight: bold;
      }
      .c{
          background-color : rgb(83, 172, 202);
      }
    </style>
    <body>
        <nav class="navbar navbar-light" style="background-color: #c5e1a5;">
            <div  style="text-align:center; ">
              <a class="t1">Result Management Application</a>
            </div>
          </nav>
          <div style="text-align:center; margin-top: 70px;">Login As
            <br/>
            <a class="btn btn-primary c" href="/Teacher" role="button" style="margin-top: 30px; margin-right: 20px;">Teacher</a>
            <a class="btn btn-primary c" href="/Student" role="button" style="margin-top: 30px; margin-left: 20px;">Student</a>       
        </div>
</html>